[defaults]
# Indica onde está o seu arquivo de inventário (lista de IPs)
inventory = ./inventory/hosts.ini

# Usuário padrão que o Ansible vai usar para conectar nas máquinas
remote_user = daniel

# Desativa a verificação da chave SSH (evita erros se você trocar a máquina do usuário)
host_key_checking = False

# Deixa a saída do terminal mais bonita e legível (formato YAML)
stdout_callback = yaml

# Oculta avisos de "skipping" para o terminal ficar limpo
display_skipped_hosts = False

[privilege_escalation]
# Define que, por padrão, as tarefas precisam de SUDO (root)
become = True
become_method = sudo
become_user = root
# Faz o Ansible sempre perguntar a senha do SUDO (o mesmo que a flag -K)
become_ask_pass = True
